body{
  margin: 0 auto;
  background-color: rgb(253, 230, 251);
}


.picIntro {
  display: flex;
  position: absolute;
    background-position: 50%;
    top: 0;
    left: 0;
    width: 2560px;
    height: 600px;
    opacity: .9;
}

.loader{
margin-top: 700px;
width: 100%;
position: relative;
margin-left: 0px;
margin-bottom: 10px;
padding-right: 0px;
color: #000000;
}

.articlecard{
  background-color: white;
  width: 100%;
  height: 286px;
  padding: 48px 15px;
  background-color: hsla(0,0%,100%,.8)!important;
  border: 2px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  transition: 0.3s;
}

.seeComments p{
  margin-left: -577px;
  padding-right: 23px;
}
.icons{
   padding-left: 23px;
    padding-top: 48px;
    font-size: 18px;
}
.icons :hover{
  text-decoration: underline;
  cursor: pointer;
}

.fa-comment:before {
  content: "\f075";
}
.articlecard:hover{
  box-shadow: 0 0 20px rgb(33, 29, 29);
  background-color: rgba(247, 242, 247, 0.8)!important;
}

.navbar li:hover{
  color: #000000;
}
.link h2{
  text-decoration: none;
}
.articlecard h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-feature-settings: normal;
    text-decoration: none;
    font-style: normal;
    text-align: left;
    font-size: 45px;
    letter-spacing: normal;
    line-break: auto;
}
.articlecard h4{
  text-align: left;
  font-size: 19px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(95, 89, 89);
}
.articlecard p{
color: #591902;
text-align: left;
font-size: 15px;
font-weight: 350;
font-family: 'Source Sans Pro', sans-serif;
}
.navbar{
    width: 100%;
    overflow: auto;
    box-shadow: 0 3px 5px -1px #410145, 0 2px 1px -1px rgb(0 0 0 / 5%);
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    padding-top: 0.5rem!important;
    align-items: center;
    -webkit-backdrop-filter: saturate(200%) blur(7px);
    backdrop-filter: saturate(200%) blur(7px);
    background-color: hsla(0,0%,100%,.8)!important;
    margin-top: -705px;
    position: fixed;
    margin-left: 0px;
    padding-bottom: 0.5rem!important;
}
.commentcard{
  margin-top: 125px;
    margin-left: 85px;
     margin-right: 85px;
}

.fa-regular .fa-thumbs-down{
  margin-left: 8px;
    font-weight: 900;
    font-size: 25px;
}

.fa-regular .fa-thumbs-up{
  margin-left: 8px;
    font-weight: 900;
    font-size: 25px;
} 


.articlecard p{
  margin-bottom: 1px;
}

.fa-regular, .far {
  font-weight: 400;
    margin-left: -569px;
    margin-top: -23px;
    padding: 16px;
    font-size: 20px;
}

.navbar ul{
  text-decoration: none;
  list-style-type: none;
  display:flex;
}
.fa-solid, .fas {
  font-weight: 200;
  font-size: 20px;
}
.navbar li{
  margin: 10px;
}


.articlelist{
  background-color: rgb(255, 255, 255, 0.8);
    border-radius: 0.75rem;
    width: 60%;
    margin-left: 55px;
    margin-right: auto;
    word-wrap: break-word;
    margin-top: 703px;
}

.articleInfo{
  margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 1044px;
    margin-top: 694px;
    margin-bottom: 351px;
}
.articleInfo time{
  margin-left: 23px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:rgb(112, 0, 88)
}
.articleInfo h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  color: #410145;
  height:416px;
  text-align: left;
  margin-top: 46px;
  padding-left: 20px;
}


.articleInfo h5{
  margin-top: -185px;
    padding-left: 25px;
    padding-right: 7px;
    text-align: left;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Source Sans Pro';
    color: rgb(62 61 63);
    /* line-break: auto; */
    line-height: 30px;
    font-family: 'Playfair Display', serif;
    text-align: justify;
    
}
.commentpicture{
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.eachcomment h5 {
  font-size: 15px;
    display: flex;
    font-weight: 500;
    margin-bottom: 17px;
}
.eachcomment p {
  font-style: italic;
  font-size: 15px;
}
.eachcomment i {
  font-size: 15px;
  margin: 2px;
  cursor: pointer;
}
.eachcomment i:active {
  font-weight: 900;
}
.fa-thumbs-up:before {
  content: "\f164";
    font-size: 20px;
    margin-left: -564px;
}
.commentcard img{
  border-radius: 50%;
    width: 26px;
    height: 28px;
}

.eachcomment {
list-style: none;
border-top: 1px solid rgb(21, 2, 28);
padding-top: 17px;
    list-style: none;
    border-top: 1px solid rgb(21, 2, 28);
}
.articleInfo h3{
  margin-top: 16px;
    margin-left: 26px;
    margin-bottom: 19px;
}


.topList a{
  color: rgb(95 89 89);
text-decoration: none;
font-weight:800;
}
.topList a:hover{
  color: rgb(0, 0, 0);
  font-weight: bold;
}



@media all and (max-width: 768px) {
  .articlecard {
    margin-left: 240px;
    margin-top: -15px;
    width: 523px;
    height: 328px;
  }
  .navbar {
    
    margin-top: 697-px;
  }
  .articlelist{
    margin-left: -183px;
  }
  .articleInfo{
    width: 80%;
    margin-right: auto;
    margin-left: 10px;
  }
  .articleInfo h5{
    padding-right: 20px;
    font-size: 14px;
    text-align: justify;
  }
  .commentcard{
    width: 80%;
    margin-left: 10px;
    margin-right: auto;
  }
}

  @media all and (max-width: 425px) {
    .articlecard {
      margin-left: 188px;
    margin-top: -15px;
    width: 348px;
    height: 202px;
  
    }
    .navbar {
      margin-top: -702px;
      margin-left: -21px;
    }
    .articlecard h2{
      font-size: 30px;
    }
    .articleInfo{
      width: 80%;
    margin-left: auto;
    margin-right: auto;
    }
    .articleInfo h1{
      font-size: 30px;
    }
    .articleInfo h5{
      padding-right: 11px;
      margin-top: -289px;
      font-size: 12px;
      text-align: justify;
    }
}


@media all and (max-width: 320px) {
  .articlecard {
    margin-left: 179px;
    margin-top: -15px;
    width: 316px;
    height: 182px;
  }
  .articlecard h2{
    font-size: 30px;
  }
  .navbar{
    margin-top: -698px;
    margin-left: -39px;
  }
  .articleInfo{
    margin-left: 22px;
    width: 80%;
  }

  .articleInfo h1{
    font-size: 30px;
  }
  .articleInfo h5{
    line-height: 20px;
  }
  .articleInfo h3{
    margin-top: 16px;
      margin-left: 26px;
      margin-bottom: 19px;
  }
  .commentcard{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
}
a{
  text-decoration: none;
  color: #000000;
}
a:hover{
  
  color: #5c004a;
}


